html,body{padding:0;margin:0}


/*µ¯¿òÑùÊ½1*/
.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index:    999;
    overflow-y: auto;
    left:0;
    padding:0 17px 0 0;
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
    position: relative;
    width: 687px;
    margin:150px auto;
    background: #FFF;
    border-radius: .4rem .4rem .4rem .4rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-popup-all {
     position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    visibility: hidden;
}
    .cd-popup-all .transparent {
        visibility:visible;
        background:transparent;
    }
.cd-popup-close{ position: absolute;right:10px;}
.is-visible .cd-popup-container {-webkit-transform:scale(1); -moz-transform:scale(1);
    -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1);}
.aui_header {
    background: #f8f8f8;
    border-radius: 5px 5px 0px 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    text-align: left;
}

