<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="../../../Files/properties.config"/>-->

  <settings>
    <setting useStatementNamespaces="true" />
  </settings>
  
  <!--<providers embedded="providers.config,TSP.DAO"/>-->
  <providers resource="providers.config"/>
  <!-- Database connection information -->
  <database>
    <!--<provider name="oracleClient2.0"/>-->
    <provider name="sqlServer2005" />
      <dataSource name="NLJL"   connectionString="Data Source=192.168.18.225;database=MineMaterialMS;User Id=sa;Password=111;Connect Timeout=18000;"/>
  </database>

  <sqlMaps>
    <!--Admin Module-->
    <!--<sqlMap embedded="Maps.Admin.Tbl_User.xml,WZGL.DAO"/>-->
    <sqlMap embedded="Maps.System.TBL_USER.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_ORGANIZATION.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_ROLE.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_ROLEAUTHORIZATION.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_USERAUTHORIZATION.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_SYSTEMLIMITS.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_DICT.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_DICTITEM.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_TUNNELLINGPROJECT.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_COALFACE.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_COALFACEGROUP.xml,WZGL.DAO"/>

    <sqlMap embedded="Maps.System.TBL_SINGLEPROJECT.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_APPLICATIONPROJECT_LIMITS.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_SINGLEPROJECT_LIMITS.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.System.TBL_OTHERPROJECT.xml,WZGL.DAO"/>
    

    <sqlMap embedded="Maps.Production.TBL_COALMINEDAILYRECORD.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Production.TBL_TUNNELLINGDAILYRECORD.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Warehouse.TBL_MATERIAL.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Warehouse.TBL_MATERIALCATEGORY.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Warehouse.TBL_DEPARTMENT_STOCK.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Warehouse.TBL_DEPARTMENT_INOROUTDETAIL.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Warehouse.TBL_DEPARTMENT_INOROUTRECORD.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Warehouse.TBL_WAREHOUSE_TASK.xml,WZGL.DAO"/>
    
    <sqlMap embedded="Maps.Plan.Materialplan.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.Materialplanproject.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.Materialplanprojectdetail.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.TBL_PURCHASEPLAN.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.TBL_PURCHASEPLAN_DETAIL.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.TBL_MATERIALANDPURCHASE.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.TBL_MATERIALCHECKANDACCEPT.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.TBL_MATERIALCHECKANDACCEPT_DETAIL.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.TBL_INMINESTATION_INOROUTDETAIL.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.TBL_INMINESTATION_INOROUTRECORD.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Plan.TBL_INMINESTATION_STOCK.xml,WZGL.DAO"/>

    
    
    
    
    <sqlMap embedded="Maps.Capital.TBL_CAPITALACCOUNT.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Capital.TBL_CAPITALACCOUNT_FLOWRECORD.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Flow.FLOW_DERIVE_RELATION.xml,WZGL.DAO"/>
    
    <sqlMap embedded="Maps.Capital.TBL_CAPITALAPPLICANT.xml,WZGL.DAO"/>
   
    <sqlMap embedded="Maps.Check.TBL_APPLICATIONPROJECTTYPE.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Check.TBL_MATERIALAPPLICATION.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Check.TBL_MATERIALAPPLICATION_DETAIL.xml,WZGL.DAO"/>
    <sqlMap embedded="Maps.Check.TBL_MATERIALAPPLICATION_PROJECT.xml,WZGL.DAO"/>

    
  </sqlMaps>
</sqlMapConfig>
