/**{*/
    /*font-size: 16px;*/
/*}*/
i{
    font-style: normal;
}
body{
    min-width: 900px;
}
.popUp_container .fa.fa-times {
    font-size:20px;
}
a:hover,a:active,a:focus,a:visited{
    text-decoration: none;
}
.btn_all_choose{
    border: 1px solid #ddd;
}
.btn_all_choose a{
    color: #000000;
}

.container_btn{
    padding:10px;
}

table.table{
    border-top: 1px solid #ddd;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}
/*.table tbody tr td:nth-child(3),*/
.table_vessel .table thead tr th:nth-child(2),
.table_vessel .table tbody tr td:nth-child(2),
.table_vessel .table thead tr th:last-child,
.table_vessel .table tbody tr td:last-child{
    width: 30%;
    text-align: center;
}
.table_vessel .table thead tr th:nth-child(3),
.table_vessel .table tbody tr td:nth-child(3){

    width: 10%;
    text-align: center;
}
.table_vessel .table tbody tr td:last-child a{
   color:#2B73C5;
}
.table > thead > tr > th,.table > tbody > tr > td{
    padding: 10px;
    padding-left:20px;
    font-weight:normal;
}
.table tbody tr td{
    border-bottom:1px solid #ddd ;
}
.table > tbody > tr > td.part1:before,
.table > tbody > tr > td.part2:before,
.table > tbody > tr > td.part3:before,
.table > tbody > tr > td.part4:before,
.table > tbody > tr > td.part5:before,
.table > tbody > tr > td.part6:before,
.table > tbody > tr > td.part7:before{
    content: ' ';
    background: url("../../Images/extend_icon.png") no-repeat;
    display: inline;
    padding: 0px 8px;
}
.table > tbody > tr > td.part1{
    padding-left: 35px;
}
.table > tbody > tr > td.part2{
    padding-left: 55px;;
}
.table > tbody > tr > td.part3{
    padding-left: 75px;;
}
.table > tbody > tr > td.part4{
    padding-left:105px;
}
.table > tbody > tr > td.part5{
    padding-left: 135px;
}
.table > tbody > tr > td.part6{
    padding-left: 165px;
}
.table > thead > tr{
    background-color: #FAFAFA;
}
/*.table > tbody > tr:nth-child(2n){*/
    /*background-color: #FAFAFA;*/
/*}*/
table tbody tr input{
    border: 1px solid #ddd;
    text-align: center;
}
.table > tbody > tr > td:first-child span{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url("../../Images/section.png") no-repeat;
    background-position: center;
    vertical-align: bottom;
}
/*.table > tbody > tr > td.part1:before,*/
/*.table > tbody > tr > td.part2:before,*/
/*.table > tbody > tr > td.part3:before,*/
/*.table > tbody > tr > td.part4:before,*/
/*.table > tbody > tr > td.part5:before,*/
/*.table > tbody > tr > td.part6:before {*/
    /*content: url("../../Images/btn_1.png");*/
    /*background-color:#000 ;*/
    /*width: 13px;*/
    /*height: 11px;*/
/*}*/
/*узуж*/
#newShade{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    z-index: 999;
}
/*#newShade .newShade_lay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0,0,0,.5);
}*/
.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 999;
    overflow-y: auto;
    left: 0;
    padding: 0 17px 0 0;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.is-visible .popUp_container {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.popUp_container {
    position: relative;
    width: 687px;
    margin: 150px auto;
    background: #FFF;
    border-radius: .4rem .4rem .4rem .4rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.popUP_header {
    background: #f8f8f8;
    border-radius: 5px 5px 0px 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    text-align: left;
}
.ph_popup_close {
    position: absolute;
    right: 10px;
}
form{
    margin: 0;
    margin-top: 20px;
    padding-bottom: 50px;
}

.form-group label{
    width: 90px;
    font-weight: normal;
    margin: 0;
    text-align: right;
    padding-right: 30px;
}
.form-group input{
    border: 1px solid #ddd;
    width: 230px;
    height: 30px;
}
.form-control{
    display: inline-block;
    padding:3px 12px;
    width: auto;
    height: 30px;
    width:230px;
}
a:hover {
    cursor:pointer;
}